$margin-left-right:10px;
.containerElement {
    flex-direction: row;
}

.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.containerForLoginAndSignup {
    flex-grow: 1;
}

.login-nav-bar {
    background-color: #006699;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.dropdown-menu {
    background-color: #006699;
    color: white;
    border-top: none;
    margin-top: 0px;
}

ul {
    display: flex;
}

li {
    flex: 0 0 auto;
}

a {
    color: white;
}

.firstElement {
    padding-top: 9px;
    padding-bottom: 9px;
}

.nav-link {
    padding: 12px;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.invalid {
    color: #a94442;
}

.containerForLoginAndSignup {
    background-image: url('../../../assets/Quizup.png');
    background-size: cover;
}

#login.modal {
    text-align: center;
}

#login.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
}

#login .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

#signup.modal {
    text-align: center;
}

#signup.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
}

#signup .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}