<nav class="container-fluid navBarData">
    <ul class="nav containerElement">
        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#signup" href="#">Signup</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#login" href="#">Login</a></li>
        <li class="nav-item" [routerLink]="['actualQuiz/0']">Quiz Page</li>
    </ul>
</nav>
<div class="containerForLoginAndSignup" style="width:100vw;height:90vh;">
    &nbsp;
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loginDetails">
                        <!--<h3 class="display-4">Login</h3>-->
                        <div class="alert alert-danger" *ngIf="isError">{{errorMessage}}</div>
                        <form class="loginForm" #loginForm="ngForm">
                            <div class="form-group ">
                                <label> UserName </label>
                                <input type="text" name="loginUserName" class="form-control" [(ngModel)]="credentials.username" required #loginUserNameVal="ngModel" />
                                <div *ngIf="loginUserNameVal.errors &&(loginUserNameVal.dirty || loginUserNameVal.touched)">
                                    <div class="invalid" [hidden]="!loginUserNameVal.errors.required">
                                        user name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label> Password </label>
                                <input type="password" name="loginUserPassword" class="form-control" [(ngModel)]="credentials.password" required #loginUserPasswordVal="ngModel" />
                                <div *ngIf="loginUserPasswordVal.errors &&(loginUserPasswordVal.dirty || loginUserPasswordVal.touched)">
                                    <div class="invalid" [hidden]="!loginUserPasswordVal.errors.required">
                                        password is required.
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info" (click)="login($event)" [disabled]="!loginForm.valid">Login</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Sign up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="registrationDetails">
                        <div class="alert alert-danger" *ngIf="isError">{{errorMessage}}</div>
                        <form class="registrationForm well" (submit)="registerUser($event)" #signUpForm="ngForm">
                            <div class="form-group ">
                                <label> UserName </label>
                                <input type="text" [(ngModel)]="userName" name="userName" class="form-control" required #name="ngModel" />
                                <div *ngIf="name.errors &&(name.dirty || name.touched)">
                                    <div class="invalid" [hidden]="!name.errors.required">
                                        user name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label> EmailId </label>
                                <input type="email" [(ngModel)]="userEmail" name="userEmail" class=" form-control " required pattern="^([0-9a-zA-Z]([\+\-_\.][0-9a-zA-Z]+)*)+@(([0-9a-zA-Z][-\w]*[0-9a-zA-Z]*\.)+[a-zA-Z0-9]{2,3})$" #emailaddress="ngModel" />
                                <div *ngIf="emailaddress.errors && (emailaddress.dirty || emailaddress.touched) ">
                                    <div class="invalid" [hidden]="!emailaddress.errors.required ">
                                        Email is required and format should be <i>name@bosch.com</i>.
                                    </div>
                                    <div class="invalid" [hidden]="!emailaddress.errors.pattern">
                                        Email is required and format should be <i>name@bosch.com</i>.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="teamName">Team Name</label>
                                <select class="form-control" id="teamName" [(ngModel)]="teamName" name="teamName" #teamNameVal="ngModel" class="form-control" required>
                                    <option item="option" *ngFor="let teamNameValue of listOfTeams" [value]="teamNameValue" >{{teamNameValue}}</option><hr>
                                </select>
                            </div>
                            <div class=" form-group ">
                                <label> Password </label>
                                <input type="password" name="userPassword" [(ngModel)]="userPassword " class="form-control " required validateEqual="confirmPassword" reverse="true" #passwordVal="ngModel" />
                                <div *ngIf="passwordVal.errors && (passwordVal.dirty || passwordVal.touched) ">
                                    <div class="invalid" [hidden]="!passwordVal.errors.required">
                                        Password is required!!
                                    </div>
                                    <div class="invalid" [hidden]="passwordVal.errors.validateEqual">
                                        password Mismatch!!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label> Confirm Password </label>
                                <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword " class="form-control " required validateEqual="userPassword" reverse="true" #confirmPasswordVal="ngModel" />
                                <div *ngIf="confirmPasswordVal.errors && (confirmPasswordVal.dirty || confirmPasswordVal.touched) ">
                                    <div class="invalid" [hidden]="!confirmPasswordVal.errors.required ">
                                        confirmpassword is required.
                                    </div>
                                    <div class="invalid" [hidden]="confirmPasswordVal.errors.validateEqual">
                                        Password Mismatch!!
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info" [disabled]="!signUpForm.valid">Signup</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet name="firstPageRouterOutlet"></router-outlet>