.home-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-content {
   flex: 1;
   position: relative;
}

/*.containerClassLeft {
    float: left;
}

.containerClassRight {
    float: right;
}*/

$margin-left-right:10px;
.containerElement {
    flex-direction: row;
}

.home-menu {
    background-color: #006699;
    padding: 0;
}

.dropdown-menu {
    background-color: #006699;
    color: white;
    border-top: none;
    margin-top: 0px;
}

ul {
    display: flex;
}

li {
    flex: 0 0 auto;
}

li:nth-child(1) {
    margin-right: auto;
}

a {
    color: white;
}

.firstElement {
    padding-top: 9px;
    padding-bottom: 9px;
    color: white
}

.nav-link {
    padding: 13px 0;
    line-height: 1;
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
}

.container-fluid {
    padding: 0px;
}


/*
.navbar-nav {
    flex: 1 0 auto;
    display: flex;
}*/