<div class="quiz-instructions-page">
  <div class="instruction-card">
    <h3 class="card-header"> Take test </h3>
    <div class="card-block">
      <h4 class="card-title">Instructions</h4>
      <div class="card-text">The test consists of 25 questions.</div>
      <div class="card-text"> Total time give per question is 1 min.</div>
      <div class="card-text"> timer is of 25 min.</div>
      <div class="card-text">Click on the below button to start the question.</div>
      <br/>
      <button type="button" class="btn btn-primary" [routerLink]="['/actualQuiz/0']">Start test</button>
    </div>
  </div>
</div>